    <!-- Template used for headings in help text. 
         Used with <app-about-heading> COMPONENT -->
    <div class="mt-3">
      <div *ngIf="!fDivider" class="app-about-text-divider-sm mb-2"></div>
      <div *ngIf="fDivider" class="app-about-text-divider mb-2"></div>
      <button *ngIf="fButton"  
          class="btn btn-sm app-about-heading-btn my-1 py-0 {{fButtonCSS}}" >
        <div class="d-flex flex-row justify-content-center align-items-center app-bigger-font">
          <i class="material-icons app-fab-icon-sm app-white {{fIconCSS}}">{{fIcon}}</i> 
          <div class="mx-1 app-white">{{fButton}}</div>
        </div>       
      </button>
      <div *ngIf="!fButton" class="d-flex flex-row align-items-center app-about-heading-text {{fColor}}">
        <i *ngIf="fIcon" class="material-icons app-about-icon {{fIconColor}}">{{fIcon}}</i>
        <img *ngIf="fImage" class="app-about-icon" [src]="fImage"/>
        <div>{{fText}}</div>
      </div>
    </div>
