    <!-- Template used for header on all input FORMS. 
         Used with <app-form-header> COMPONENT -->
<div class="app-noscroll-frame-center"> 
  <div class="{{headerTheme}}">
    <div class=" d-flex flex-column app-form-header-padding ">
      <div class="d-flex flex-row">
        <div class="d-flex flex-row justify-content-start align-items-center">
          <button type="button" class="btn d-flex flex-row align-items-center app-form-image-button " aria-label="help"
            data-toggle="tooltip" data-placement="top" title="Help" data-delay="200"
                     (click)="toggleAbout()"> 
            <i class="material-icons app-fab-icon-smm {{headerTextColor}}">{{headerIcon}}</i>
          </button>
        </div>
        <div *ngIf="headerType === 'simple'"
              class="d-flex flex-row justify-content-start align-items-center app-flex-1 ml-4">
          <div class="d-flex app-form-title ">{{headerTitle}}</div>
        </div>
        <div *ngIf="headerType !== 'simple'" class="d-flex flex-row justify-content-between align-items-center app-flex-1">
          <div class="d-flex app-form-title ">{{headerTitle}}</div>
          <ng-container *ngIf="appBarItems"> 
            <button *ngFor="let item of appBarItems" 
                      type="button" class="btn app-bar-feature-button" 
                      data-toggle="tooltip" data-placement="top" title="{{item.tip}}" data-delay="200"
                      (click)="appBarItemSelected(item.action)">
              <i class="material-icons app-bar-feature-icon {{headerThemeColor}}">{{item.icon}}</i>
            </button>
          </ng-container>
        </div>
         <div *ngIf="headerClose && (headerType != 'simple')" 
                class="d-flex flex-row justify-content-end align-items-end ml-auto mr-1">
          <app-fab 
                fType       = "button"
                [fLink]     = "closeLabel"
                [fOnClick]  = "headerClose"
                fButtonCSS  = "{{closeButtonTheme}} pb-0"
                [fAria]     = "closeText">
          </app-fab> 
        </div> 
      </div>
    </div>
  </div>
</div>
