    <!-- Template used to show "Working" status or form status messages. 
         Used with <app-form-messages> COMPONENT -->
    <div class=" app-form-message-area app-no-overflow mt-1"
        [class.app-open]="fHaveMessage">
      <div class="d-flex flex-row justify-content-center align-items-center app-form-message-area app-fade-in"
           [class.app-open]="fWorkingOpen">
        <div class="progress app-progress-indicator" >
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" 
                role="progressbar" aria-valuenow="100" 
                aria-valuemin="0" aria-valuemax="100" style="width: 100%; color: black;">Working...</div>
        </div>                
      </div>
      <div class="app-form-message-area app-fade-in" [class.app-open]="fMessageOpen">
        <app-messages [mList]="fMessageObj" [mMax]="2">
          <app-message name="formHasErrors" class="app-error">
            Please correct the fields with errors.
          </app-message>
          <app-message name="updateFail" class="app-error">
            Unable to perform update.
          </app-message>
          <app-message name="updateSuccess" class="app-success">
            List update successful.
          </app-message>
          <app-message name="listItemAdded" class="app-success">
            List item added.
          </app-message>
          <app-message name="listItemRemoved" class="app-success">
            List item removed.
          </app-message>
          <app-message name="listItemUpdated" class="app-success">
            List item updated.
          </app-message>
          <app-message name="dateConflict" class="app-error">
            Given date range appears reversed.
          </app-message>
          <app-message name="passwordChangeFail" class="app-error">
            Unable to change password.
          </app-message>
          <app-message name="emailChangeFail" class="app-error">
            Unable to change email address.
          </app-message>
          <app-message name="deleteFail" class="app-error">
            Unable to delete account.
          </app-message>
          <app-message name="createFail" class="app-error">
            Unable to create new account.
          </app-message>
          <app-message name="authFail" class="app-error">
            Unable to sign in.
          </app-message>
          <app-message name="passwordResetFail" class="app-error">
            Unable to reset password.
          </app-message>
          <app-message name="newEmailInvalid" class="app-error">
            New Email Address is invalid.
          </app-message>
          <app-message name="emailInvalid" class="app-error">
            Email Address is invalid.
          </app-message>
          <app-message name="newEmailInUse" class="app-error">
            New Email Address already in use.
          </app-message>
          <app-message name="emailInUse" class="app-error">
            Email Address already in use.
          </app-message>
          <app-message name="unrecognizedEmail" class="app-error">
            No account for current email.
          </app-message>
          <app-message name="incorrectPassword" class="app-error">
            Password value is incorrect.
          </app-message>
          <app-message name="incorrectCurrentPassword" class="app-error">
            Current Password value is incorrect.
          </app-message>
          <app-message name="createSuccess" class="app-success">
            Success!
          </app-message>
          <app-message name="weirdProblem" class="app-error">
            Some weird problem occurred.
          </app-message>
          <app-message name="accountCreated" class="app-success">
            Account created, press Continue to Sign In.
          </app-message>
          <app-message name="passwordResetSent" class="app-success">
            Password reset email sent.
          </app-message>
          <app-message name="enterTempPassword" class="app-success">
            Enter the password from that email.
          </app-message>
          <app-message name="itemAlreadyInList" class="app-error">
            Item already in list.
          </app-message>
        </app-messages>
      </div>
    </div>
