    <!-- Template used for gathering a list item. 
         Used with <app-list-item-field> DIRECTIVE -->
  <div class="app-list-item-field-container"
      [ngClass]="{'app-list-item-height-2': fAllowNew && fActionButtons,
                  'app-list-item-height-1': !fAllowNew || !fActionButtons}">

  <!-- Item select field -->

  <div class="app-list-item-field-container-element app-z-3"
      [ngClass]="{'app-z--1': fAllowNew && (fEqual ? (fValue == fNewTest) : (fValue != fNewTest)),
                  'app-z-3': !fAllowNew || !(fEqual ? (fValue == fNewTest) : (fValue != fNewTest))}">
    <div class="app-icon-input-field-container {{fExtraCSS}}">
      <label class="app-icon-input-field-label-sm" 
            [ngClass]="{'app-disabled-opacity': fDisabled,
                        'has-value': hasValue(),
                        'has-focus': focused,
                        'app-show-required': fRequired && !hasValue()}">
            {{currentLabel()}}</label>
      <div class="d-flex flex-row">
        <i class="material-icons app-input-icon {{fColor}}">{{fIcon}}</i>
        <select name="{{fName}}" ngModel
                [required]="fRequired"
                [disabled]="fDisabled"
                [(ngModel)]="fValue" 
                class="app-form-input d-flex"
                [ngClass]="{'app-cursor-pointer': !fDisabled}" 
                #fRef="ngModel"
                [registerForm]="fForm" [registerModel]="fRef"
                (focus)="showFocused()" (blur)="showNotFocused()" (change)="valueChange()">
            <option disabled class="app-no-display"></option>
            <ng-container *ngIf="fAllowNew || fShowNew">
              <option  value="999" class="app-form-theme-select-menu-lg">New {{fNewLabel}}</option>
            </ng-container>
            <ng-container *ngIf="fAllowAny">
              <option value="0"class="app-form-theme-select-menu-lg">Any {{fLabel}}</option>
            </ng-container>
            <ng-container *ngIf=" fListValue === 'index' ">
              <option *ngFor="let item of fList; index as i;" 
                      value="{{i}}" class="app-form-theme-select-menu">
                      {{item}}
              </option>
            </ng-container>
            <ng-container *ngIf=" fListValue === 'idName' || fListValue === 'player' ">
              <option *ngFor="let item of fList"
                      [disabled]="item.disabled"
                      value="{{item.id}}" class="app-form-theme-select-menu">
                      {{item.name}}
              </option>
            </ng-container>
            <ng-container *ngIf=" fListValue === '' ">
              <option *ngFor="let item of fList"
                      value="{{item}}" class="app-form-theme-select-menu">
                      {{item}}
              </option>
            </ng-container>
        </select>
      </div>
      <div class="app-field-messages"
          [ngClass]="{'app-visible': (fRef.touched || fCheckAll),
                      'app-invisible': !(fRef.touched || fCheckAll)}">
<validation-messages [vField]="fRef" [vMultiple]="fErrorMulti">
          <validation-message name="required">{{fLabel}} selection is required.</validation-message>
        </validation-messages>
      </div>
    </div>
  </div>

  <!-- Item input field -->
  
  <div *ngIf="fAllowNew" class="d-flex flex-column app-list-item-field-container-element">
    <div class="d-flex flex-column app-fade-in"
        [class.app-open]="(fEqual ? (fValue == fNewTest) : (fValue != fNewTest))">
      <app-icon-input
          [fForm]       = "fForm" 
          [fCheckAll]   = "fCheckAll"
          fRef          = "{{fNewRef}}" 
          fName         = "{{fNewName}}" 
          [fRequired]   = "(fEqual ? (fValue == fNewTest) : (fValue != fNewTest))"
          [fDisabled]   = "fDisabled"
          [fCapitalize] = "fCapitalize"
          fType         = "text" 
          fPattern      = "^[ /@.#,!?'$\-\w]+$"
          fMaxlength    = "30"
          fLabel        = "{{fValue == '999' ? 'New' : 'Edit'}} {{fNewLabel}}"  
          fIcon         = "{{fValue == '999' ? 'add_circle_outline' : 'edit'}}"
          fColor        = "{{fColor}}" 
          [(fValue)]    = "fNewValue" 
          fErrors       = "required|pattern"
          fErrorMsgs    = "New {{fNewLabel}} is required.|Invalid character or format for {{fNewLabel}}."
          fExtraCSS     = "mb-2"
          [fOnInput]    = "newValueChange"
          [fFocusFn]    = "fOnFocus">
        </app-icon-input>
        <div *ngIf="!fDisabled && fActionButtons && (fEqual ? (fValue == fNewTest) : (fValue != fNewTest))"
              class="d-flex flex-row justify-content-center align-items-center app-flex-wrap">
          <div class="app-smaller-font mb-0">
            <app-fab
                    fType       = "submit"
                    fLabel      = "Save"
                    fLabelCSS   = "app-white"
                    [fOpen]     = "true"
                    fButtonCSS  = "app-fab-sm-sq app-bg-primary mr-1 mb-1"
                    [fDelay]    = "200"
                    fAria       = "add"
                    fIcon       = "check_circle_outline"
                    fIconCSS    = "app-fab-icon-sm app-mt--2"
                    fIconColor  = "app-white">
            </app-fab>
          </div>
          <div *ngIf="fValue != '999'" class="app-smaller-font mb-0">
            <app-fab
                    fType       = "button"
                    fLabel      = "Remove"
                    fLabelCSS   = "app-white"
                    [fOpen]     = "true"
                    fButtonCSS  = "app-fab-sm-sq app-bg-primary mr-1 mb-1"
                    [fDelay]    = "200"
                    [fOnClick]  = "deleteItem"
                    fAria       = "remove"
                    fIcon       = "remove_circle_outline"
                    fIconCSS    = "app-fab-icon-sm app-mt--2"
                    fIconColor  = "app-white">
            </app-fab>
          </div>
          <div class="app-smaller-font mb-0"> 
            <app-fab 
                    fType       = "button"
                    fLabel      = "Cancel"
                    fLabelCSS   = "app-white"
                    [fOpen]     = "true"
                    fButtonCSS  = "app-fab-sm-sq app-bg-primary mb-1"
                    [fDelay]    = "200"
                    [fOnClick]  = "cancelEdit"
                    fAria       = "cancel"
                    fIcon       = "highlight_off"
                    fIconCSS    = "app-fab-icon-sm app-mt--2"
                    fIconColor  = "app-white">
            </app-fab>
          </div>
        </div>
        <div *ngIf="!fActionButtons && (fEqual ? (fValue == fNewTest) : (fValue != fNewTest))"
              class="d-flex flex-row justify-content-end align-items-center">
          <div class="app-small-list-field-cancel-fab mb-0">
            <app-fab 
                    fType       = "button"
                    fLabel      = "Cancel"
                    [fOpen]     = "true"
                    fButtonCSS  = "app-fab-xsm-sq mb-1"
                    [fDelay]    = "1"
                    [fOnClick]  = "cancelEdit"
                    fAria       = "cancel"
                    fIcon       = "highlight_off"
                    fIconCSS    = "app-icon-xsm"
                    fIconColor  = "app-brite-orange">
            </app-fab>
          </div>
        </div>
    </div>
  </div>
</div>
