  <div>
    &nbsp;&nbsp;The <b>Change Email</b> form allows you to change the email associated your account.<br/>
    The fields and buttons are:

    <app-about-heading fIcon="mail_outline" fText="Current Email Address" fIconColor="app-accounts-color"></app-about-heading>
    &nbsp;&nbsp;This is the email that is currently associated with your account.
    The value is filled in by the program.

    <app-about-heading fIcon="lock_open" fText="Password" fIconColor="app-accounts-color"></app-about-heading>
    &nbsp;&nbsp;Enter the password associated with this account.

    <app-about-heading fIcon="mail_outline" fText="New Email Address" fIconColor="app-checkbox"></app-about-heading>
    &nbsp;&nbsp;Enter the new email to be associated with this account.

    <app-about-heading fIcon="check_circle_outline" fText="Save" [fFab]="true" fIconColor="app-primary">></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your change request.  If successful, you will
    receive a brief notification and the user status in the <b>About Menu</b> will reflect
    the new email address.
  </div>
