  <div>
    &nbsp;&nbsp;The <b>Delete Account</b> form allows you to delete your account.<br/>
    The fields and buttons are:

    <app-about-heading fIcon="mail_outline" fText="Email Address" fIconColor="app-active-input-icon-color"></app-about-heading>
    &nbsp;&nbsp;This is the email that is associated with your account.  
    The value is filled in by the program.

    <app-about-heading fIcon="lock_outline" fText="Password" fIconColor="app-active-input-icon-color"></app-about-heading>
    &nbsp;&nbsp;Enter the password associated with this account.

    <app-about-heading fIcon="remove_circle_outline" fButton="Delete"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your delete request.  You will immediately be prompted for
    confirmation of this action.  Press <b>Delete Account</b> to continue. If the delete issuccessful, 
    you will receive a brief notification and the user icon at the top of the page
    will become an outline.
  </div>
