  <div>
    &nbsp;&nbsp;The <b>Add Public Match</b> form allows you to make a Public copy of the selected match.<br/>
    The fields and buttons are:
    
    <app-about-heading fIcon="mail_outline" fText="Authorized Users" fIconColor="app-shared-recipes-color"></app-about-heading>
    &nbsp;&nbsp;This is an optional list of users that will be allowed to view the Public copy. The list
    contains email addresses that are associated with the accounts of the users you want to allow access
    to this log. Leave this list empty to allow all users to view this log.<br />
    From the drop-down list, select an email address to change/remove or select <b>New Authorized User</b>
    to add a new email address to the list.

    <app-about-heading fButton="Cancel" fText="Cancel Public Copy" fButtonColor="app-green"></app-about-heading>
    &nbsp;&nbsp;This button cancels making the Public Copy.

    <app-about-heading fButton="Make Public" fText="Make Public Copy" fButtonColor="app-green"></app-about-heading>
    &nbsp;&nbsp;This button creates the Public copy of the match and saves the Authorized Users List if any.
  </div>
