  <div>
    &nbsp;&nbsp;The <b>Change Password</b> form allows you to change the password associated your account.<br/>
    The fields and buttons are:

    <app-about-heading fIcon="mail_outline" fText="Email Address" fIconColor="app-accounts-color"></app-about-heading>
    &nbsp;&nbsp;This is the email that is currently associated with your account.
    The value is filled in by the program.

    <app-about-heading fIcon="lock_open" fText="Current Password" fIconColor="app-accounts-color"></app-about-heading>
    &nbsp;&nbsp;Enter the password currently associated with this account.

    <app-about-heading fIcon="lock_outline" fText="New Password" fIconColor="app-checkbox"></app-about-heading>
    &nbsp;&nbsp;Enter the new password to be associated with this account.

    <app-about-heading fIcon="check_circle_outline" fText="Save" [fFab]="true" fIconColor="app-primary"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your change request.  If successful, you will
    receive a brief notification.
  </div>
