  <div>
    &nbsp;&nbsp;The origins list contains the names of the person, media, etc. where a recipe came from,
    such as 'Martha Setwart' or 'Jane E. Gordon'.
    <br/>The <b>Manage Origins</b> form allows you to add/remove/change entries in your origins list.<br/>
    The fields and buttons are:
    
    <app-about-heading fIcon="face" fText="Origin Name" fIconColor="app-active-input-icon-color"></app-about-heading>
    &nbsp;&nbsp;This is the name for the origin.
    From the drop-down list, select an origin to change/remove it or select <b>New Origin Name</b> to add
    a new origin name to the list.

    <app-about-heading fIcon="edit" fText="Existing Origin Name" fIconColor="app-active-input-icon-color"></app-about-heading>
    &nbsp;&nbsp;This icon will display next to the input field if you choose an exitsig origin from the 
    list in the Origin Name field. Edit or delete this origin name.

    <app-about-heading fIcon="add_circle_outline" fText="New Origin Name" fIconColor="app-active-input-icon-color"></app-about-heading>
    &nbsp;&nbsp;This icon will display next to the input field if you choose New Origin Name from 
    the list in the Origin Name field. Enter a name for the new origin here.

    <app-about-heading fIcon="check_circle_outline" fButton="Save"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your list update request.  If successful, you will
    receive a brief notification.

    <app-about-heading fIcon="remove_circle_outline" fButton="Remove"></app-about-heading>
    &nbsp;&nbsp;Press this button to remove the selected origin from the list.

    <app-about-heading fIcon="highlight_off" fButton="Cancel"></app-about-heading>
    &nbsp;&nbsp;Press this button to return to name selection without changing the current selection.
  
    <app-about-heading fIcon="warning" fText="Tips and Warnings" fIconColor="app-checkbox" [fDivider]="true"></app-about-heading>
    &nbsp;&nbsp;If you delete an origin, any recipes in your collection that still have that origin will now
    show '<b>Removed</b>' as the origin when displayed.  You can fix that by editing the recipe and 
    specifying a different origin.
  </div>
