  <div>
    &nbsp;&nbsp;The <b>Manage Public Logs</b> menu allows you to make logs public or change the settings on
    logs you have already made public.<br/>
    The fields and buttons are:

    <app-about-heading fIcon="assignment" fText="Match Status" fIconColor="app-shared-recipes-color"></app-about-heading>
    &nbsp;&nbsp;This control allows you to specify which of you matches to show on the menu.
    You can specify only Private matches or matches you have already made Public or Both.

    <app-about-heading fIcon="add_circle_outline" fText="Make Match Public" 
    fIconColor="app-shared-recipes-color" [fFab]="true"></app-about-heading>
    &nbsp;&nbsp;This button will display next to the item if the match is currently a Private match only.
    Press this button to make a Public copy of this match.

    <app-about-heading fIcon="edit" fText="Edit Public Match Settings" 
    fIconColor="app-about-fab-icon-sm app-shared-recipes-color" [fFab]="true"></app-about-heading>
    &nbsp;&nbsp;This button will display next to the item if the match there is currently a Public copy
    of this match. Press this button to change the settings of the Public copy.
  </div>
