  <div>
    &nbsp;&nbsp;The <b>Match Logs</b> menu tab displays a menu of all the match logs meeting the parameters you
    specified in the <b>Match Log Search</b> tab.
    Selecting an item from this menu and tapping <app-about-text-icon fIcon="check_circle_outline" fColor="app-primary"
    [fFab]="true" fSize="S"></app-about-text-icon> will display the <b>View Statistics</b> tab for that match.
    
    <app-about-heading fIcon="check" fText="Select All" fIconColor="app-about-checkbox-icon"></app-about-heading>
    &nbsp;&nbsp;Check this box if you wish select/unselect all items on the menu.

    <app-about-heading fIcon="playlist_add_check" fText="Selecting Multiple Logs" fIconColor="app-check-green"></app-about-heading>
    &nbsp;&nbsp;Combined Statistics and Trend graphs can be displayed for a group of logs.  Simply select the logs you want to
    include in the graph then tap either the <b>"Combine"</b> or the <b>"Show Trends"</b> selection. Finally, tap
    <app-about-text-icon fIcon="check_circle_outline" fColor="app-primary" [fFab]="true" fSize="S"></app-about-text-icon>.

    <app-about-heading fIcon="remove_circle_outline" fText="Removing a Match Log" fIconColor="app-warn" [fFab]="true"></app-about-heading>
    &nbsp;&nbsp;Next to each item on this menu is a remove button. Tap this button to remove the match log from the database.

    <app-about-heading fIcon="warning" fText="Tips and Warnings" fIconColor="app-checkbox" [fDivider]="true"></app-about-heading>
    &nbsp;&nbsp;If you tap the <b>Remove</b> button, you will be given a confirmation prompt to make sure the tap 
    was intentional. Once a match is removed it cannot be retrieved.
  </div>
