  <div>
    &nbsp;&nbsp;The <b>Update Profile</b> form allows you to change the profile items associated with your account.<br/>
    The fields and buttons are:

    <app-about-heading fIcon="mail_outline" fText="Authorized Users for Shared Recipes" 
    fIconColor="app-active-input-icon-color"></app-about-heading>
    &nbsp;&nbsp;Here you can create a list of email addresses of users you want to have access
    to recipes that you share.  If you don't set such a list on a recipe you share, all users
    will be able to view that recipe.

    <app-about-heading fIcon="check_circle_outline" fButton="Update"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your update request.  If successful, you will
    receive a brief notification.
  </div>
