  <div>
    &nbsp;&nbsp;The <b>Public Match Settings</b> form allows you to change the settings for a match you have made Public.<br/>
    The fields and buttons are:

    <app-about-heading fIcon="check" fText="Make this match Private" fIconColor="app-about-checkbox-icon"></app-about-heading>
    &nbsp;&nbsp;Check this box to allow removal of the Public Copy of the match.

    <app-about-heading fIcon="mail_outline" fText="Authorized Users" fIconColor="app-shared-recipes-color"></app-about-heading>
    &nbsp;&nbsp;This is an optional list of users that will be allowed to view the Public copy. The list
    contains email addresses that are associated with the accounts of the users you want to allow access
    to this log. Leave this list empty to allow all users to view this log.<br />
    From the drop-down list, select an email address to change/remove or select <b>New Authorized User</b>
    to add a new email address to the list.

    <app-about-heading fButton="Cancel" fText="Cancel Settings Changes" fButtonColor="app-green"></app-about-heading>
    &nbsp;&nbsp;This button cancels making changes to the Public Copy settings.

    <app-about-heading fButton="Save" fText="Save Settings Changes" fButtonColor="app-green"></app-about-heading>
    &nbsp;&nbsp;This button saves changes to the Public Copy settings.

    <app-about-heading fButton="Make Private" fText="Remove Public Copy" fButtonColor="app-green"></app-about-heading>
    &nbsp;&nbsp;This button removes the Public copy of the match.
  </div>
