  <div>
    &nbsp;&nbsp;The <b>Update Profile</b> form allows you to change the profile items associated with your account.<br/>
    The fields and buttons are:

    <app-about-heading fIcon="face" fText="Usual Player Being Logged" fIconColor="app-accounts-color"></app-about-heading>
    &nbsp;&nbsp;This is the name of the player that is usually involved in the matches being logged or reviewed.
    Select a player from the dropdown list.

    <app-about-heading fIcon="wc" fText="Usual Gender of Opponents" fIconColor="app-accounts-color"></app-about-heading>
    &nbsp;&nbsp;Select the gender of opponents this player usually plays.

    <app-about-heading fIcon="check_circle_outline" fText="Save" [fFab]="true" fIconColor="app-primary"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your update request.  If successful, you will
    receive a brief notification.
  </div>
