  <div>
    &nbsp;&nbsp;The <b>View Statistics</b> tab displays all point information from the selected match log in 
    statistical form.<br />
    <app-about-heading fIcon="dashboard" fText="Display Layout"></app-about-heading>
    &nbsp;&nbsp;This tab is organized in four sections:<br/> 
    <b>Point Filter</b>, <b>Setup Information</b>,<br/><b>Menu</b> and <b>Statistics</b>.
    
    <app-about-heading fIcon="filter_list" [fFab]="true" fText="Point Filter"></app-about-heading>
    &nbsp;&nbsp;For a <b>single</b> log, this section contains the point filter activation button and
    the filtered points navigation control.<br/>
    Press the <app-about-text-icon fIcon="filter_list" [fFab]="true" fSize="S"></app-about-text-icon> to open the
    Point Filter form.  If a filter has been applied and matching points are found, the navigation
    control will appear allowing you to traverse the list of matching points.

    <app-about-heading fIcon="assignment" fText="Setup Information Section"></app-about-heading>
    &nbsp;&nbsp;For a <b>single</b> log, this section displays general information about the 
    match such as tournament name, date, time, match format, etc.<br />
    &nbsp;&nbsp;When <b>multiple</b> logs have been selected, this section displays a count of the matches, the number of unique
    opponents in the data and the dates of the beginning and ending matches in the data.<br />
    &nbsp;&nbsp;To toggle the display of this section, tap the
    <app-about-text-icon fIcon="assignment" fColor="app-link-active"></app-about-text-icon> icon on the VIEW tab
    at the  top of the tab display.

    <app-about-heading fIcon="menu" fText="Menu Section (Single)"></app-about-heading>
    &nbsp;&nbsp;When a single match has been selected, this section displays a menu for selecting the level of information you want to see. The stats for an individual match can be viewed at the Match, Set, Game and Point level.<br />
    &nbsp;&nbsp;The Match level shows the players names on a button with <b>Set</b> buttons to the 
    right showing the score of each set. There is also a button 
    <app-about-text-icon fIcon="last_page" fColor="app-primary"></app-about-text-icon>
     which will automatically switch the display to show detail information for the final point in the log.<br />
    &nbsp;&nbsp;Selecting a set button displays a row of buttons each representing a game in
    the selected set or a point in the selected set in the case of a Tiebreak set.<br />
    &nbsp;&nbsp;The statistics graphs/text change to reflect the chosen set.<br />
    &nbsp;&nbsp;<b>Game</b> buttons display a check mark and a score.  
    The check indicates the winner, red for break and green for hold.  
    The score represents the loser's score when the game finished.<br />
    &nbsp;&nbsp;Selecting a game button displays a 
    row of buttons each representing a point in the selected game.<br />
    &nbsp;&nbsp;The statistics header will now display a small ball next to the
    player's name that served that game and the set score when that game began.<br />
    &nbsp;&nbsp;Graphs are not displayed at the game level, only the
    text for the game statistics is shown.<br />
    &nbsp;&nbsp;<b>Point</b> buttons display each player's score when the point started. Also, the 
    colored score on the button indicates who won that point, red for returner, green for server.<br />
    &nbsp;&nbsp;Finally, selecting a point button displays an account of that point which includes all relevant
    information from the <b>Log Point</b> tab.

    <app-about-heading fIcon="menu" fText="Menu Section (Multiple)"></app-about-heading>
    &nbsp;&nbsp;When multiple matches are selected, this section simply displays the name of the player and how many different
    opponents are in the selected matches.  In this situation, statistics are displayed only for the match level.

    <app-about-heading fIcon="search" fText="Statistics Section"></app-about-heading>
    &nbsp;&nbsp;Here is where the actual statistics are displayed.<br />
    &nbsp;&nbsp;This section begins with a header that shows the players names
    on their side of the statistics display.<br />
    &nbsp;&nbsp;In the middle of the header is a description of the information level and the score when that
    game/point began if appropriate.<br />
    &nbsp;&nbsp;A check mark will display after the name of the player that won that level, red if returning and green
    otherwise.<br />
    &nbsp;&nbsp;At the game and point levels, a small tennis ball will be displayed before the name of the server.<br />
    &nbsp;&nbsp;The header is followed by four subsections:<br />
    <b>Synopsis</b>, <b>Serving</b>, <b>Returning</b> and <b>Risk</b>.<br /> 
    Each subsection can be displayed or hidden by tapping the<br /><span class=" app-about-text-button app-primary">Section Name</span> 
    <app-about-text-icon fIcon="arrow_drop_down" fColor="app-primary"></app-about-text-icon> button 
    at the top-left of the section.  The text 
    representation of the data can be displayed or hidden by tapping the<br /><span class="app-about-text-button app-primary">Text</span> 
    <app-about-text-icon fIcon="arrow_drop_down" fColor="app-primary"></app-about-text-icon> button at the top-right of the
    section.

    <app-about-heading fButton="Synopsis" fIcon="arrow_drop_down" fIconColor="app-primary" fText="Synopsis Display"></app-about-heading>
    &nbsp;&nbsp;The synopsis section gives you an overview of how each player is performing. 
    The text display shows data as ratios or counts whereas the graph display shows data as percentages. In general, to be doing
    well a player's performance should be over <b>50%</b> in every category on this graph.

    <app-about-heading fButton="Serving" fIcon="arrow_drop_down" fIconColor="app-primary" fText="Serving Display"></app-about-heading>
    &nbsp;&nbsp;The serving section gives you information of how well each player is serving. Information includes counts of 
    serves in play and won, aces, double faults and Game points won.  The text display shows data as ratios or counts whereas 
    the graph display shows data as percentages. In general, to be doing
    well a player's performance should be over <b>50%</b> in most of the percentage categories on this graph.

    <app-about-heading fButton="Returning" fIcon="arrow_drop_down" fIconColor="app-primary" fText="Returning Display"></app-about-heading>
    &nbsp;&nbsp;The returning section gives you information of how well each player is returning serve. Information includes counts of 
    returns in play and won and Break points won. The text display shows data as ratios or counts whereas the graph display shows 
    data as percentages. In general, to be doing
    well a player's performance should be near <b>50%</b> in most of the categories on this graph.

    <app-about-heading fButton="Risk" fIcon="arrow_drop_down" fIconColor="app-primary" fText="Risk Display"></app-about-heading>
    &nbsp;&nbsp;The risk section gives you information of how aggressively each player is playing. Information includes counts of 
    winners, errors forced, aces, double faults, unforced errors, points at net, total points won, average rally length and longest rally.
    Both the Graph and Text displays in this section show data as ratios or counts.<br />
    &nbsp;&nbsp;In general, higher numbers of winners and/or unforced
    errors along with shorter rallies and possibly coming to net indicates more aggressive play whereas lower winners/unforced errors 
    and longer rallies while staying back shows more conservative play.

    <app-about-heading fIcon="timeline" fText="Trend Graphs"></app-about-heading>
    &nbsp;&nbsp;Trend graphs display match statistics as a set of points for each match going horizontally across the display.
    The lines connecting the points show the fluctuations in performance over time from left to right. Each category displays two
    graphs, one for Player and one for Opponents.<br />
    &nbsp;&nbsp;Touching a display point on the graph displays a pop-up with the statistic for 
    that match on that date. For the Opponents graph, the pop-up also contains the name of the opponent.

    <app-about-heading fIcon="warning" fText="Tips and Warnings" fIconColor="app-checkbox" [fDivider]="true"></app-about-heading>
    &nbsp;&nbsp;Graphs are displayed only for the <b>Match</b> and <b>Set</b> levels.  Also, some information
    shown in the Text display is not shown in the Graphs.<br />
    &nbsp;&nbsp;Items on a graph can be excluded or included by tapping their entry in the legend.<br />
    &nbsp;&nbsp;Touching the graph will display a pop-up with the information being displayed at that position, if any.
  </div> 
