<div class="app-tab-container px-0 pt-2 app-bg-gwhite"
    [class.app-open]="searchTabOpen">

  <!-- define a component to add recipe categoreis -->
     <app-checkbox-menu 
            fTitle       = "Recipe Categories"
            fMessage     = "Select any that apply:"
            fOpenMsg     = "openSearchCategoriesMenu"
            [fItems]     = "categoryListItems()"
            [(fCatList)] = "catList">
    </app-checkbox-menu> 
 
    <!-- Instructional messages -->
    <div class="d-flex flex-row justify-content-center app-flex-1 
                                  app-black-text-low app-bold align-items-center mb-2 app-small-font">
      Use the fields below to narrow your search.
    </div>

    <div class="app-frame d-flex flex-column align-items-stretch pt-0">
      <div class="app-bg-white d-flex flex-column app-width-100">

        <!-- Radio group to select data set (Personal/Shared) -->
        <div class="d-flex flex-row app-width-98 mx-auto px-2">
          <app-radio-group
            fTitle      = "Search In:"
            fIcon       = "{{dataSet === 'Personal' ? 'folder' : 'folder_shared'}}"
            fIconColor  = "app-active-input-icon-color"
            [fOnChange] = "dataSetChange()"
            [fOnFocus]  = "clearRequestStatus"
            [fDividerAfter] = "false"
            [(fModel)]  = "dataSet" 
            fExtraCSS   = "app-smaller-font pb-2"
            fValues     = "Personal|Shared" 
            fLabels     = "My Recipes|Shared Recipes" 
            fName       = "sDatabase">
          </app-radio-group>
        </div>

        <!-- Form for search filtering options -->

        <form #searchForm = "ngForm" role="form" novalidate class
              (ngSubmit)="submitRequest(searchForm)">
          <div class="d-flex flex-column app-width-98 mx-auto px-2">

            <!-- categories Field -->
            <div class="d-flex flex-row justify-content-end align-items-center 
                        app-list-item-field-container pr-1 pt-3">
              <label class="app-icon-input-field-label-sm app-recipe-pics-field-label app-width-100">
                  {{catFieldLabel()}}
                </label>
            </div> 
            <div class="app-icon-input-field-container pt-3">
              <div class="d-flex flex-row align-items-center">
                <i class="material-icons app-input-icon app-active-input-icon-color">assessment</i>
                <div class="d-flex flex-row flex-wrap">
                  <!-- display a button for each currently selected category -->
                  <div *ngFor="let c of catList.cats" 
                          class="btn d-flex flex-row justify-content-center align-items-center 
                                app-recipe-category-button app-category-button-theme mb-1">
                    {{getCategoryName(c)}}
                    <i class="material-icons app-category-delete-icon app-warn ml-1" 
                      (click)="catList.removeCat(c)">close</i>
                  </div> 
                  <!-- display a button at the end of the list to activate the selection menu -->
                  <app-fab
                    fType       = "button"
                    [fFab]      = "true"
                    fTip        = "Select Categories for Search"
                    [fOpen]     = "true"
                    fButtonCSS  = "ml-2 d-flex app-fab-button-sm app-bg-white app-accent1 app-fab-raised"
                    [fDelay]    = "200"
                    fAria       = "select"
                    fIcon       = "add_circle"
                    fIconCSS    = "app-fab-icon-btn-sm"
                    [fOnClick]  = "openCatList"
                    fIconColor  = "app-primary">
                  </app-fab>
                </div>
              </div>
            </div>

            <!-- Keywords Field -->
            <app-icon-input
              [fForm]       = "searchForm" 
              fRef          = "rK" 
              fName         = "rKeywords" 
              fType         = "text" 
              fLabel        = "Disregard recipe text"
              fFocusedLabel = "Title or Ingredients contain:"  
              fIcon         = "vpn_key"
              fColor        = "app-active-input-icon-color" 
              fPattern      = "^[ /\-'%$#.,()!?\w]*$"
              fMaxlength    = "200"
              fErrors       = "pattern"
              fErrorMsgs    = "Invalid keyword character or list format."
              [(fValue)]    = "keywords" 
              [fClearFn]    = "clearKeywords"
              [fFocusFn]    = "clearRequestStatus">
            </app-icon-input>

            <!-- Messages Area -->
            <app-form-messages [fMessageOpen] = "haveStatusMessages()">
              <app-messages [mList]="requestStatus" [mMax]="2">
                <app-message name="formHasErrors" class="app-error">
                    Please correct the fields with errors.
                </app-message>
              </app-messages>
            </app-form-messages>  

          </div>
          <!-- Actions Area -->
          <app-update-actions
            [fLabels]     ="true"
            fSLabel       ="Search">
          </app-update-actions>
                            
        </form>
      </div>
    </div>
</div>
