                <!--Form used to provide the EVENT MANAGEMENT feature-->

<!--<app-waiting-indicator awi-open="!fC.formOpen && !fC.formWasOpen"></app-waiting-indicator>-->

<div 
  class=" app-central-container app-fade-in"
  [ngClass]="{'app-open': formOpen}"
  >


  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    [headerIcon]      = 'listIcon'
                    [headerTitle]     = 'formTitle' 
                    headerTheme       = "app-lists-header-theme"
                    [headerClose]     = "closeForm">
  </app-form-header>

                                              <!-- Start of Form -->

  <div class=" app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="container app-form-theme px-0 pt-3">
      <form #listForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(listForm)">
        <div class="d-flex flex-column px-2">

        <!-- Instructional messages -->
        <div *ngIf="selectedItem === ''" class="d-flex flex-row justify-content-start app-flex-1 align-items-center
                                                mb-2 app-smaller-font">
          Select from the list to edit/create {{itemReference}} {{listName}}
        </div>
        <div *ngIf="selectedItem !== ''" class="d-flex flex-row justify-content-start app-flex-1 align-items-center 
                                                mb-2 app-smaller-font">
          Now edit and save or remove this {{listName}}
        </div>

          <!-- Event Name Field -->
          <app-list-item-field 
              [fForm]         = "listForm"
              [(fCheckAll)]   = "checkAll"
              fName           = "itemName"
              fRef            = "iName"
              [(fValue)]      = "selectedItem"
              fLabel          = "{{listName}} Name" 
              [fIcon]         = "listIcon" 
              fColor          = "app-light-brown "
              [fOnDelete]     = "deleteSelectedItem"
              [fRequired]     = "false"
              [fOnFocus]      = "clearRequestStatus"
              [fCapitalize]   = "true"
              [fOnChange]     = "copyItemName"
              [fList]         = "itemList"
              fListValue      = "idName"
              [fEqual]        = "false"
              fNewTest        = ""
              fNewName        = "newIName"
              fNewRef         = "nIName"
              [(fNewValue)]   = "newItemName"
          >
          </app-list-item-field>

          <!-- Messages Area -->
          <app-form-messages 
            [fWorkingOpen]    = "!haveStatusMessages() && working"
            [fMessageOpen]    = "haveStatusMessages() && !working"
            [fMessageObj]     = "requestStatus">
          </app-form-messages>                    
                            
        </div>
      </form>
    </div>
  </div>
</div>
