                <!--Form used to provide the LIST MANAGEMENT feature-->


<div 
  class=" app-central-container-sm app-fade-in"
  [ngClass]="{'app-open': formOpen}"
  >


  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    [headerIcon]      = 'listIcon'
                    [headerTitle]     = 'formTitle' 
                    headerTheme       = "app-lists-header-theme"
                    [headerClose]     = "closeForm">
  </app-form-header>

                                              <!-- Start of Form -->

  <div class=" app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="app-form-theme px-0 pt-3">
      <form #listForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(listForm)">
        <div class="d-flex flex-column px-2">

        <!-- Instructional messages -->
        <div *ngIf="selectedItem === ''" class="d-flex flex-row justify-content-start app-flex-1 align-items-center
                                                app-black-text-low app-bold mb-2 app-smaller-font">
          Select from the list to edit/create {{itemReference}} {{listName}}
        </div>
        <div *ngIf="selectedItem !== ''" class="d-flex flex-row justify-content-start app-flex-1 align-items-center 
                                                app-black-text-low app-bold mb-2 app-smaller-font">
          Now edit and save or remove this {{listName}}
        </div>

          <!-- Item Name Field -->
          <app-list-item-field 
              [fForm]         = "listForm"
              [(fCheckAll)]   = "checkAll"
              fName           = "itemName"
              fRef            = "iName"
              [(fValue)]      = "selectedItem"
              fLabel          = "{{listName}} Names" 
              [fIcon]         = "listIcon" 
              fColor          = "app-active-input-icon-color"
              [fOnDelete]     = "deleteSelectedItem"
              [fRequired]     = "false"
              [fOnFocus]      = "clearRequestStatus"
              [fCapitalize]   = "true"
              [fOnChange]     = "copyItemName"
              [fList]         = "itemList"
              fListValue      = "idName"
              [fEqual]        = "false"
              fNewTest        = ""
              fNewName        = "newIName"
              fNewRef         = "nIName"
              fNewLabel       = "{{listName}} Name" 
              [(fNewValue)]   = "newItemName"
          >
          </app-list-item-field>

          <!-- Messages Area -->
          <app-form-messages [fMessageOpen] = "haveStatusMessages()">
            <app-messages [mList]="requestStatus" [mMax]="2">
              <app-message name="formHasErrors" class="app-error">
                  Please correct the fields with errors.
              </app-message>
              <app-message name="itemAlreadyInList" class="app-error">
                  Item already in list.
              </app-message>
            </app-messages>
          </app-form-messages>                    

        </div>
            <!-- Actions Area -->
        <div class="d-flex flex-row justify-content-center align-items-center 
            app-pos-relative app-bg-primary pb-2" id="actions">
          <app-help-button></app-help-button>
          <app-fab
              fType       = "button"
              fLink       = "Done"
              [fOnClick]  = "closeForm"
              fButtonCSS  = "app-fab-sm-sq app-white"
              fAria       = "done">
          </app-fab> 
        </div>
      </form>
    </div>
  </div>
</div>
