<!--dialog template used for basic NOTICES and CONFIRMATIONS-->
<div class="app-fade-in app-dialog-container" [ngClass]="{'app-open': openModal}">
  <div class="modal-header app-dialog-header">
    <div class="modal-title d-flex flex-row justify-content-start align-items-center app-all-paddings-8px">
      <button type="button" class="btn app-form-image-button app-cursor-default ml-0 mr-2 app-mb--2" aria-label="delete"> 
        <i class="material-icons app-fab-icon-smm app-white">delete_forever</i>
      </button>
      <div class="app-form-title">{{heading}}</div>
    </div>
  </div>
  <div class="modal-body app-confirm-dialog-content app-form-theme px-2 py-1">
    <div class="d-flex flex-row justify-content-center align-items-center app-recipe-action-title">
      {{recipeTitle}}
    </div>
    <div class="d-flex flex-row justify-content-center align-items-end">
      <div class="app-small-font pr-1">Origin:</div>
      <div class="app-recipe-action-origin">{{origin}}</div>
      <div class="app-small-font pl-4 pr-1">Circa:</div>
      <div class="app-recipe-action-origin-date">{{originDate}}</div>
    </div>
  </div>
  <div class="modal-footer d-flex flex-row justify-content-around align-items-center app-dialog-footer px-2 py-1">
      <app-fab  *ngIf="!notifyOnly"
            fType       = "button"
            [fLink]     = "cancelText"
            [fOnClick]  = "dismiss"
            fButtonCSS  = "app-white"
            fLabelCSS   = "app-bigger-font"
            fAria       = "cancel">
      </app-fab> 
      <app-fab 
            fType       = "button"
            [fLink]     = "okText"
            [fOnClick]  = "close"
            fButtonCSS  = "app-white"
            fLabelCSS   = "app-bigger-font"
            fAria       = "Ok">
      </app-fab> 
  </div>
</div>