                <!--Form used to provide the CHANGE PASSWORD feature-->

<div class=" app-central-container-sm app-fade-in  " 
     [ngClass]="{'app-open': formOpen}">

  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    headerIcon        = "lock"
                    headerTitle       = "Change Password" 
                    headerTheme       = "app-account-header-theme"
                    [headerClose]     = "closeForm">
  </app-form-header>

  <!-- Start of Form -->

  <div class="app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="app-form-theme px-0 pt-3">
      <form #passwordForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(passwordForm)">
        <div class="d-flex flex-column px-2">

          <!-- Email field -->
          <app-icon-input
            [fForm]       = "passwordForm" 
            fRef          = "cE" 
            fName         = "cEmail" 
            [fDisabled]   = "true"
            fType         = "email" 
            fLabel        = "What's your Email Address?"  
            fFocusedLabel = "Email Address:"  
            fIcon         = "mail_outline"
            fColor        = "app-disabled-icon-color" 
            [fValue]      = "userEmail">
          </app-icon-input>

          <!-- Password field -->
          <app-icon-input
            [fForm]       ="passwordForm" 
            [fCheckAll]   = "checkAll"
            fRef          ="cP" 
            fName         ="cPassword" 
            [fRequired]   ="true" 
            fType         ="password" 
            fLabel        ="What's your Current Password?" 
            fFocusedLabel = "Current Password:"  
            fIcon         ="lock_open"
            fColor        ="app-accent1" 
            [(fValue)]    ="currPassword" 
            fErrors       ="required|pattern|minlength"
            fErrorMsgs    ="A password is required.|Invalid password character/format.|Password must be at least 6 characters."
            fMinlength    ="6" 
            fMaxlength    ="16" 
            fPattern      ="^[a-zA-Z]+[!#$%\^\-+*\w]*$" 
            [fFocusFn]    ="clearRequestStatus">
          </app-icon-input>

          <!-- New Password field -->
          <app-icon-input
            [fForm]       ="passwordForm" 
            [fCheckAll]   = "checkAll"
            fRef          ="nP" 
            fName         ="nPassword" 
            [fRequired]   ="true" 
            fType         ="password" 
            fLabel        ="What's your New Password?" 
            fFocusedLabel = "New Password:"  
            fIcon         ="lock_outline"
            fColor        ="app-accent1" 
            [(fValue)]    ="newPassword" 
            fErrors       ="required|pattern|minlength"
            fErrorMsgs    ="A password is required.|Invalid password character/format.|Password must be at least 6 characters."
            fMinlength    ="6" 
            fMaxlength    ="16" 
            fPattern      ="^[a-zA-Z]+[!#$%\^\-+*\w]*$" 
            [fFocusFn]    ="clearRequestStatus">
          </app-icon-input>

          <!-- Status Message Area -->
          <app-form-messages [fMessageOpen] = "haveStatusMessages()">
            <app-messages [mList]="requestStatus" [mMax]="2">
              <app-message name="formHasErrors" class="app-error">
                  Please correct the fields with errors.
              </app-message>
              <app-message name="passwordChangeFail" class="app-error">
                  Unable to change password.
              </app-message>
              <app-message name="incorrectPassword" class="app-error">
                  Password value is incorrect.
              </app-message>
              <app-message name="incorrectCurrentPassword" class="app-error">
                  Current Password value is incorrect.
              </app-message>
              <app-message name="unrecognizedEmail" class="app-error">
                  No account for current email.
              </app-message>            
            </app-messages>
          </app-form-messages>                    
                            
        </div>

          <!-- Actions Area -->
          <app-update-actions
            [fLabels]     ="true"
            fSLabel       = "Change"
            >
          </app-update-actions>
          
      </form>
    </div>
  </div>
</div>
