                <!--Form used to provide the DELETE ACCOUNT feature-->

<div class=" app-central-container-sm app-fade-in  " 
     [ngClass]="{'app-open': formOpen}">

  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    headerIcon        = "delete_forever"
                    headerTitle       = "Delete Account" 
                    headerTheme       = "app-account-header-theme"
                    [headerClose]     = "closeForm">
  </app-form-header>

  <!-- Start of Form -->

  <div class=" app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="app-form-theme px-0 pt-3">
      <form #deleteForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(deleteForm)">
        <div class="d-flex flex-column px-2">

          <!-- Email field -->
          <app-icon-input
            [fForm]       = "deleteForm" 
            fRef          = "cE" 
            fName         = "cEmail" 
            [fDisabled]   = "true"
            fType         = "email" 
            fLabel        = "Email Address"  
            fIcon         = "mail_outline"
            fColor        = "app-disabled-icon-color" 
            [fValue]      = "userEmail">
          </app-icon-input>

          <!-- Password field -->
          <app-icon-input
            [fForm]       ="deleteForm" 
            [fCheckAll]   = "checkAll"
            fRef          ="cP" 
            fName         ="cPassword" 
            [fRequired]   ="true" 
            fType         ="password" 
            fLabel        ="Password" 
            fIcon         ="lock_open"
            fColor        ="app-accent1" 
            [(fValue)]    ="password" 
            fErrors       ="required|pattern|minlength"
            fErrorMsgs    ="A password is required.|Invalid password character/format.|Password must be at least 6 characters."
            fMinlength    ="6" 
            fMaxlength    ="16" 
            fPattern      ="^[a-zA-Z]+[!#$%\^\-+*\w]*$" 
            [fFocusFn]    ="clearRequestStatus">
          </app-icon-input>

          <!-- Status Message Area -->
          <app-form-messages [fMessageOpen] = "haveStatusMessages()">
            <app-messages [mList]="requestStatus" [mMax]="2">
              <app-message name="formHasErrors" class="app-error">
                  Please correct the fields with errors.
              </app-message>
              <app-message name="deleteFail" class="app-error">
                  Unable to delete account.
              </app-message>
              <app-message name="unrecognizedEmail" class="app-error">
                  No account for current email.
              </app-message>
              <app-message name="incorrectPassword" class="app-error">
                  Password value is incorrect.
              </app-message>
            </app-messages>
          </app-form-messages>                    
        </div>

        <!-- Actions Area -->
          <app-update-actions 
            [fDeleteCheck]  ="true"
            [fLabels]       ="true"
            fRLabel         ="Delete"
            >
        </app-update-actions>
      </form>
    </div>
  </div>
</div>
s