                <!--Form used to provide the CHANGE EMAIL feature-->

<div class=" app-central-container-sm app-fade-in  " 
     [ngClass]="{'app-open': formOpen}">

  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    headerIcon        = "mail_outline"
                    headerTitle       = "Change Email" 
                    headerTheme       = "app-account-header-theme"
                    [headerClose]     = "closeForm">
  </app-form-header>

  <!-- Start of Form -->

  <div class="app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="app-form-theme px-0 pt-3">
      <form #emailForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(emailForm)">
        <div class="d-flex flex-column px-2">

          <!-- Email field -->
          <app-icon-input
            [fForm]       = "emailForm" 
            fRef          = "cE" 
            fName         = "cEmail" 
            [fDisabled]   = "true"
            fType         = "email" 
            fLabel        = "Current Email Address"  
            fIcon         = "mail_outline"
            fColor        = "app-disabled-icon-color" 
            [fValue]      = "currEmail">
          </app-icon-input>

          <!-- Password field -->
          <app-icon-input
            [fForm]       ="emailForm" 
            [fCheckAll]   = "checkAll"
            fRef          ="uP" 
            fName         ="uPassword" 
            [fRequired]   ="true" 
            fType         ="password" 
            fLabel        ="Password" 
            fIcon         ="lock_open"
            fColor        ="app-accent1" 
            [(fValue)]    ="password" 
            fErrors       ="required|pattern|minlength"
            fErrorMsgs    ="A password is required.|Invalid password character/format.|Password must be at least 6 characters."
            fMinlength    ="6" 
            fMaxlength    ="16" 
            fPattern      ="^[a-zA-Z]+[!#$%\^\-+*\w]*$" 
            [fFocusFn]    ="clearRequestStatus">
          </app-icon-input>

          <!-- New Email field -->
          <app-icon-input
            [fForm]       = "emailForm" 
            [fCheckAll]   = "checkAll"
            fRef          = "nE" 
            fName         = "nEmail" 
            [fRequired]   = "true" 
            fType         = "email" 
            fLabel        = "New Email Address"  
            fIcon         = "mail_outline"
            fColor        = "app-accent1" 
            [(fValue)]    = "newEmail" 
            fErrors       = "required|email"
            fErrorMsgs    = "An email address is required.|Invalid email address character/format."
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

          <!-- Status Message Area -->
          <app-form-messages [fMessageOpen] = "haveStatusMessages()">
            <app-messages [mList]="requestStatus" [mMax]="2">
              <app-message name="formHasErrors" class="app-error">
                  Please correct the fields with errors.
              </app-message>
              <app-message name="emailChangeFail" class="app-error">
                  Unable to change email address.
              </app-message>
              <app-message name="newEmailInvalid" class="app-error">
                  New Email Address is invalid.
              </app-message>
              <app-message name="newEmailInUse" class="app-error">
                  New Email Address already in use.
              </app-message>
              <app-message name="incorrectPassword" class="app-error">
                  Password value is incorrect.
              </app-message>
              <app-message name="unrecognizedEmail" class="app-error">
                  No account for current email.
              </app-message>
      
            </app-messages>
          </app-form-messages>                    
                            
        </div>

        <!-- Actions Area -->
        <app-update-actions
          [fLabels]     ="true"
          >
        </app-update-actions>
        
      </form>
    </div>
  </div>
</div>
