                <!--Form used to provide the ACCOUNT LOGIN feature-->

<div class="app-central-container-sm app-fade-in" 
     [class.app-open]="formOpen">

  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    headerIcon        = "person_outline"
                    headerTitle       = "Account Sign In" 
                    headerTheme       = "app-account-header-theme"
                    [headerClose]     = "closeForm">
  </app-form-header>

  <!-- Start of Form -->

  <div class=" app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="app-form-theme px-0 pt-3">
      <form #loginForm = "ngForm" role="form" novalidate
            (ngSubmit)="sendLoginRequest(loginForm)">
        <div class="d-flex flex-column px-2">

          <!-- Email field -->
          <app-icon-input
            [fForm]       = "loginForm" 
            [fCheckAll]   = "checkAll"
            fRef          = "uE" 
            fName         = "uEmail" 
            [fRequired]   = "true" 
            fType         = "email" 
            fLabel        = "What's your Email Address?"  
            fFocusedLabel = "Email Address:"
            fIcon         = "mail_outline"
            fColor        = "app-accent1" 
            [(fValue)]    = "userEmail" 
            fErrors       = "required|email"
            fErrorMsgs    = "An email address is required.|Invalid email address character/format."
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

          <!-- Password field -->
          <app-icon-input
            [fForm]       ="loginForm" 
            [fCheckAll]   = "checkAll"
            fRef          ="uP" 
            fName         ="uPassword" 
            [fRequired]   ="true" 
            fType         ="password" 
            fLabel        ="What's your Password?" 
            fFocusedLabel ="Password:"
            fIcon         ="lock_open"
            fColor        ="app-accent1" 
            [(fValue)]    ="userPassword" 
            fErrors       ="required|pattern|minlength"
            fErrorMsgs    ="A password is required.|Invalid password character/format.|Password must be at least 6 characters."
            fMinlength    ="6" 
            fMaxlength    ="16" 
            fPattern      ="^[a-zA-Z]+[!#$%\^\-+*\w]*$" 
            fExtraCSS     ="mt-2"
            [fFocusFn]    ="clearRequestStatus">
          </app-icon-input>

          <!-- Hidden fields for creating a new account -->
          <div class=" d-flex flex-column app-vertical-expand"
                [class.app-open]="showNewAccountFields()">

            <!-- Password confirmation field -->
            <app-icon-input
              [fForm]     ="loginForm" 
              [fCheckAll] = "checkAll"
              fRef        ="cP" 
              fName       ="cPassword" 
              [fRequired] ="showNewAccountFields()" 
              fType       ="password" 
              fLabel      ="Type your Password again (sorry)" 
              fFocusedLabel ="Password Confirmation:"
              fColor      ="app-accent1" 
              [(fValue)]  ="passwordConfirm" 
              fErrors     ="required|pattern|minlength" 
              fIcon       ="lock_outline"
              fErrorMsgs  ="Password confirmation is required.|This value must match the Password.|Password must be at least 6 characters."
              fErrorsMulti="true" 
              fMinlength  ="6" 
              fMaxlength  ="16" 
              fPattern    ="{{userPassword}}" 
              fExtraCSS   ="mt-1 mb-2"
              [fFocusFn]  ="clearRequestStatus">
            </app-icon-input>

          </div>

          <div *ngIf="!newAccount" class="mt-1">
            <label class="app-cursor-pointer">
              <input type="checkbox" class="app-input-icon-area app-cursor-pointer" 
                     name="createAcc" [(ngModel)]="createAccount" 
                    (change)="clearNewAccountFields()">
              I want to create new account
            </label>
          </div>

          <!-- Remember Me field -->
          <div *ngIf="!wrongPassword()">
            <label class="app-cursor-pointer">
              <input type="checkbox" class="app-input-icon-area app-cursor-pointer" 
                     name="memberMe" [(ngModel)]="rememberLogin">
              Remember my Sign-In stuff
            </label>
          </div>

          <!-- Status Message Area -->
          <app-form-messages [fMessageOpen] = "haveStatusMessages()">
            <app-messages [mList]="requestStatus" [mMax]="2">
              <app-message name="formHasErrors" class="app-error">
                  Please correct the fields with errors.
              </app-message>
              <app-message name="createFail" class="app-error">
                Unable to create new account.
              </app-message>
              <app-message name="authFail" class="app-error">
                Unable to sign in.
              </app-message>
              <app-message name="createSuccess" class="app-success">
                Success!
              </app-message>
              <app-message name="accountCreated" class="app-success">
                Account created, press Continue to Sign In.
              </app-message>
              <app-message name="emailInUse" class="app-error">
                Email Address already in use.
              </app-message>
              <app-message name="emailInvalid" class="app-error">
                Email Address is invalid.
              </app-message>
              <app-message name="weirdProblem" class="app-error">
                Some weird problem occurred.
              </app-message>
              <app-message name="unrecognizedEmail" class="app-error">
                No account for current email.
              </app-message>
              <app-message name="incorrectPassword" class="app-error">
                Password value is incorrect.
              </app-message>
              <app-message name="passwordResetSent" class="app-success">
                Password reset email sent.
              </app-message>
              <app-message name="enterTempPassword" class="app-success">
                Enter the password from that email.
              </app-message>
              <app-message name="passwordResetFail" class="app-error">
                Unable to reset password.
              </app-message>
            </app-messages>
          </app-form-messages>                    
                            
        </div>

        <!-- Actions Area -->
        <div class="d-flex flex-row justify-content-center align-items-center 
                    app-pos-relative app-bg-primary pb-2" id="actions">
          <app-help-button></app-help-button>
          <app-fab *ngIf="!newAccount && !wrongPassword()"
                fAria="sign in"
                fButtonCSS="app-fab-sm-sq app-white" fIconColor="app-white"
                fLabel="{{createAccount ? 'Create Account' : 'Sign In'}}"
                fIcon="{{createAccount ? 'add_circle_outline' : 'check_circle_outline'}}">
          </app-fab>
          <app-fab *ngIf="newAccount" fAria="sign in" fLabel="Continue to Sign In"
                    fButtonCSS="app-fab-sm-sq app-white"
                    fIcon="arrow_forward" fIconColor="app-white">
          </app-fab>
          <app-fab *ngIf="wrongPassword()"  fAria="forgot password"
                    fLabel="Reset Password"
                    fButtonCSS="app-fab-sm-sq app-white"
                    fIcon="sentiment_dissatisfied" fIconColor="app-white"
                    fType="button" [fOnClick]="requestPasswordReset">
          </app-fab>
        </div>
      </form>
    </div>
  </div>
</div>
